<link rel="stylesheet" href="{{ themePath }}/antd.min.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<button type="button" role="switch" aria-checked="false" class="ant-switch">
    <span class="ant-switch-inner"></span>
</button>
<label class="sk-input-label"><slot name="label"></slot><slot></slot></label>
<style>
    button.form-invalid {
        border: 1px red solid;
    }
</style>